div {
	background-color: #FF7F24;
	color: white;
	font: bold 22px Trebuchet MS;
	width: 300px;
	height: 470px;
	position: relative;
	top: 40px;
	text-align: center;
	padding-top: 25px;
	box-sizing: border-box;
	margin: 0px auto;
	float: left;
}
h1 {
   font: bold 30px Trebuchet MS;
    padding-left: 50px;
}
.standart_block {
	background-color:#2BC2D4;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 6px;
}
.best_value_block {
	height: 500px;
	top: 25px;
	box-shadow: 0 0 10px rgba(0,0,0,.5); /* Параметры тени */
    border-radius: 5px;
	z-index: 1;
}
.ultimate_block{
	background-color:#00B89A;
	border-top-right-radius: 5px;
    border-bottom-right-radius: 6px;   /*это нужно для того чтобы край основгого ultimate не*/ 
    border-bottom-left-radius: 6px;    /*выглядывал*/
}
.general_for_inside {
	background-color:white;
	color: black;
	position: absolute;
	top: 75px;
	border: none;
    border-radius: none;
	height: 395px;
}
.standart_inside {
	border-left: 1px solid #E8EAEC;
    border-bottom: 1px solid #E8EAEC;
	height: 395px;
	border-bottom-left-radius: 5px;
}
.best_value_inside{
	font: 22px Trebuchet MS;
	top: 85px;
	width: 290px;
	height: 405px;
	margin: 5px;
	box-sizing: border-box;
	padding-top: 25px;
}
.ultimate_inside{
	border-right: 1px solid #E8EAEC;
    border-bottom: 1px solid #E8EAEC;
	height: 395px;
    border-bottom-right-radius: 5px;
}
.blue_input {
	background-color: #2F70A8;
	border-bottom: 3px solid #13426B;
	bottom: 35px;
}
input{
	font: bold 14px Trebuchet MS;
	background-color: #FF7F24;
	color: white;
	text-align: center;
	position: absolute;
	bottom: 50px;
	left: 20px;
	right: 20px;
	width: 260px;
	height: 40px;
	border-radius: 5px;
	border: none;
	border-bottom: 3px solid #CD661D;	
}
#best_value_header {
	top: 33px;
	color: white;
	font: bold 22px Trebuchet MS;
	text-align: center;	
}
span {
	position: absolute;
	top: 65px;
	left:95px;
	font: bold 60px Trebuchet MS;
	text-align: center;	
}
sup {
	position: absolute;
	top: 60px;
	left: 80px;
	font: bold 20px Trebuchet MS;
}
sub {
	font: bold 18px Trebuchet MS;
	position: absolute;
	top: 113px;
	left: 165px;
}
.list_best_value {
	top: 230px;
}
ul {
	color: grey;
	font:16px Trebuchet MS;
	position: absolute;
	top: 215px;
	list-style: none;
	text-align: left;
	left: 5px;
	width: 275px;
	box-sizing: border-box;
	padding: 5px 0 5px 15px;
}
li::before {
	 content: url(1.png);
	 width: 20px;
	 height: 20px;
	 padding-left: 30px;
	 padding-right: 15px;
}
li {
	padding-top: 10px;
	height: 23px;
	background-color: #F0F8FF;
	border: 1px solid white;
	
	
}
li:nth-child(2n) {
	background-color: #F5F5F5;
	padding-top: 10px;
	}




