
div {
	width: 1400px;
	height: 315px;
	background-image: url(back.png);
	border: 1px solid black;
	text-align: center;
	padding-top: 50px;
	box-sizing: border-box;
	position: relative;
}

#what {
	color: #EE8129;
	font: 40px Trebuchet MS;
}
#client_says {
	color: #3170A8;
	font: 40px Trebuchet MS;
}
img {
	position: absolute;
	top: 135px;
	left: 180px;
}
img[src*="man"] {
	left: 720px;
}
.general_speech {
	font: 14px Trebuchet MS;
	color: #737373;
	background-color: #F7F7F7;
	background-image: none;
	width: 380px;
	overflow: hidden;
	height: 100px;
	left: 300px;
	top:37px;
	text-align: left;
	padding-left: 20px;
}
.gerl_speech {
	left: 300px;
	top:37px;
}
.man_speech {
	left: 840px;
	top:-62px;
}
.triangle {
	position: absolute;
	top: 170px;
	left: 271px;
	border: 15px solid;
	border-color: transparent #F7F7F7 transparent transparent;
	z-index: 1;
}
.triangle1 {
	top: 170px;
	left: 271px;
}
.triangle2 {
	top: 170px;
	left: 811px;

}
p {
	border-bottom: 1px dotted black;
	width: 340px;
	color: #3170A8;
	box-sizing: border-box;
	margin: 0 auto;
}
.name {
		text-align: left;
		box-sizing: border-box;
		border-bottom: 1px dotted black;
		position: absolute;
		top: 10px;
		left: 20px;
		padding-bottom: 10px;
		font: italic 14px Trebuchet MS;
}
.customer {
		float: right;
		color: red;
		box-sizing: border-box;
		color:#3070A8;
		font: italic 14px Trebuchet MS;
}




