.general {
    background-color: #ffcd5d;
    width:28.4%;
    height: 55px;
    position: absolute;
    left: 600px;
    top: 100px;
    -margin: 100px auto 20px auto;
}
.first {
    width: 83.5%;
    margin: 5px;
    padding-bottom: 6px; 
}
.second {
    position: absolute;
    left: 85.2%;
    border-radius: 3px;
    font: 15px sans-serif;
    padding: 2px 10px;
    top: 6px;
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
}
.third {
   position: absolute;
    left: 0;
    bottom: 1%;
}
.bottom {
   position: absolute;
    bottom: 5px;
    font: 13px sans-serif;
    left: 20px;
}