.galery {
	min-width: 360px;
	max-width: 1150px;
	margin: 0 auto;

}
.galery img {

	z-index: -1;
	background: #3aadf4;
	margin: 10px;
	
}
.foto:hover .inside {
	display: inline-block;
	position: relative;
	right: 130px;
	top: -130px;

}

.inside {
	display: none;
}