.galery {
	min-width: 370px;
	max-width: 1200px;
	margin: 70px auto;
}
.galery img {
	margin: 13px;
	margin-top: 12px;
}
.foto:hover .inside_new_window {
	display: inline-block;
	position: absolute;
	right: 135px;
	top: -165px;
	z-index: 2;
}
.foto:hover .inside_zoom {
	display: inline-block;
	position: absolute;
	right: 185px;
	top: -165px;
	z-index: 2;
}
.foto:hover:after {
	content: url(img/BG.png);
	position: absolute;
	right: 17px;
	top: -258px;
	z-index: 1;
}

.foto {
	position: relative;
}
.inside_new_window,
.inside_zoom {
	display: none;
}
header {
	text-align: center;
}
.top_first_row {
	font: 41px "Times New Roman", Tahoma;
}
header p {
	font: 15px "Times New Roman", Tahoma;
	color: #909090;
	margin-bottom: 40px;
}