.sivtsev {
    -webkit-filter: blur(1.5px);
    font: 80px sans-serif;
    text-align: justify;
    width: 300px;
    margin-top: -68px;
    margin-left: 5px;
}
.sight01 {
    word-spacing: 1.899em;
    font: 100% sans-serif;
    line-height: 70%;
}
.sight02 {
    word-spacing: 0.736em;
    font: 90% sans-serif;
}
.sight03 {
    word-spacing: 0.187em;
    font: 80% sans-serif;
}
.sight04 {
    word-spacing: 0.14em;
    font: 70% sans-serif;
}
.sight05 {
    word-spacing: 0.341em;
    font: 60% sans-serif;
}
.sight06 {
    word-spacing: 0.325em;
    font: 50% sans-serif;
}
.sight07 {
    word-spacing: 0.7em;
    font: 40% sans-serif;
}
.sight08 {
    word-spacing: 0.622em;
    font: 35% sans-serif;
}
.sight09 {
    word-spacing: 1.33em;
    font: 25% sans-serif;
}
.sight10 {
    word-spacing: 2.4em;
    font: 15% sans-serif;
}
.uline {
  border-bottom: 1px solid red;
}
.sight15 {
    word-spacing: 4.1em;
    font: 10% sans-serif;
    line-height: 400%;
}
.sight20 {
    word-spacing: 4.1em;
    font: 10% sans-serif;
}





