body {
    height: 100%;
    width: 1400px;
    margin: 0 auto;
    background-color: #c0c0c0;
}
.main_table{
    width: 1400px;
    height: 1500px;
    background-color: white;
}
img[src="Banner1.png"] {
    position: relative; 
    top: 45px;
}
.company_name{
    position: relative;
    top: 45px;
    padding-left: 190px;
}
#name {
    color: #3070A8;
    font: bold 36px "FuturaBT Book";
}
#company {
    color: #EE8129;
    font: 36px Tahoma;
}

.list li {
    display: inline-block;
    margin-left: 40px;
    font: 14px "Open Sans Semibold", serif;
	}
.list{
    margin-right: 190px;
    float: right;
	}
a:hover {
    color: #3070A8;
    border-bottom: 5px solid #3070A8;
    padding-bottom:40px;
}
a:link {
    color: #989898; 
    text-decoration: none;
}
	














































