body {
    width: 1400px;
    margin: 0 auto;
    background-color: #c0c0c0;
    text-align: center;
}
.main_table{
    width: 1400px;
    background-color: white;
}
img[src="img/Banner1.png"] {
    position: relative; 
    top: 10px;
}
.company_name{
    position: relative;
    top: 35px;
    left: 190px;
    width: 300px;
}
.name {
    color: #3070A8;
    font: bold 36px "FuturaBT Book";
}
.company {
    color: #EE8129;
    font: 36px Tahoma;
}
.first_row {
    color: white;
    font: 36px serif;
    text-align: center;
}
.we_are {
    color: white;
    font: bold 48px "Futura Md BT", serif;
    position: relative;
    top: -450px;
}
.lorem {
    color: white;
    font: italic 20px Calibri, serif;
    position: relative;
    top: -420px;
    line-height: 30px;
}
.list li {
    display: inline-block;
    padding: 0 20px;
    font: 14px "Open Sans Semibold", serif;
}
.list{
    margin-right: 190px;
    float: right;
    position: relative;
    top: -5px;
}
li a:hover {
    color: #3070A8;
    border-bottom: 5px solid #3070A8;
    padding-bottom: 28px;
}
a:link {
    color: #989898; 
    text-decoration: none;
}
a:visited {
    color: #989898; 
    text-decoration: none;
}
.batton_name {
    display: none;
}
label {
    font: 16px "Open Sans Semibold", serif;
    color: white;
    border: 1px solid #9AABB7;
    position: relative;
    top: -375px;
    left: -10px;
    padding: 15px 60px 15px 60px;
}
.middle {
   position: absolute;
    margin: -200px 300px ;
    color: #41525c;
    font: bold 30px "Trebuchet MS", serif;
}






































