.try {
    position: absolute;
    left: 190px;
    border: 1px solid red;
    width: 1020px;
    height: 3310px;
    z-index: 1;
}
html {
    background-color: #c0c0c0;
}
.main_table{
    position: relative;
    margin: 0 auto;
    top: -10px;
    width: 1400px;
    background-color: white;
    height: 3310px;
    text-align: center;
}
img[src="img/Banner1.png"] {
    position: relative; 
    top: 10px; 
}
.company_name{
    position: relative;
    top: 27px;
    left: 175px;
    width: 300px;
}
.name {
    color: #3070A8;
    font: bold 36px "FuturaBT Book";
}
.company {
    color: #EE8129;
    font: 36px Tahoma;
}
.first_row {
    color: white;
    font: 36px serif;
    position: relative;
    top: 3px;
    left: -25px;
}
.we_are {
    color: white;
    font: bold 48px "Futura Md BT", serif;
    position: relative;
    top: -445px;
}
.lorem {
    color: white;
    font: italic 20px Calibri, serif;
    position: relative;
    top: -430px;
    left: -9px;
    line-height: 30px;
}
.list li {
    display: inline-block;
    position: relative;
    padding-left: 40px;
    right: -4px;
    top: -6px;
    font: 14px "Open Sans";
}
.list{
    margin-right: 190px;
    float: right;
    position: relative;
    top: -5px;
}
li a:hover {
    color: #3070A8;
    border-bottom: 5px solid #3070A8;
    padding-bottom: 28px;
}
a:link {
    color: #989898; 
    text-decoration: none;
}
a:visited {
    color: #989898; 
    text-decoration: none;
}
.batton_name {
    display: none;
}
label {
    font: 16px "Open Sans Semibold", serif;
    color: white;
    border: 1px solid #9AABB7;
    position: relative;
    top: -374px;
    left: -9px;
    padding: 17px 58px 17px 71px;
}
.middle {
   position: absolute;
    margin: -187px 312px ;
    color: #41525c;
    font: bold 30px "Trebuchet MS", serif;
}

.middle_column {
    margin-top: 70px;
    color: #a7a7a7;
    width: 310px;
    font: 14px "Open Sans Semibold", serif;
    line-height: 1.8em;
    top: 38px;
}
.middle_left_column {
    position: absolute;
    left: -127px;
}
.middle_center_column {
    position: absolute;
    left: 233px;
}
.middle_right_column {
    position: absolute;
    left: 590px;
    
}
.middle_big_blue_letter {
    position: relative;
    top: 13px;
    color: #3070A8;
    width: 310px;
    font: 30px "Open Sans Semibold", serif;
}





































