body:first-child{
	background-color: #FF7F24;
	color: white;
	font: bold 22px Arial;
	width: 200px;
	height: 300px;
	position: relative;
	text-align: center;
	padding-top: 20px;
	box-sizing: border-box;
	border-radius: 5px;
}
-body div {
	background-color: #FF7F24;
	color: white;
	font: bold 22px Arial;
	width: 200px;
	height: 300px;
	position: relative;
	text-align: center;
	padding-top: 20px;
	box-sizing: border-box;
	border-radius: 5px;
}