div{
	position: relative;
	background-color: #A020F0;
	width: 100%;
	height: 32px;
	text-align: center;
	font: 18px Impact;
	color: white;
	}	
span {
	padding: 5px 10px 5px 10px;
	display: inline-block;
	}
span:hover {
	color: #B5B5B5;
	background-color: #E8E8E8;
	}	
.list {
position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	float: left;
	width: 900px;
	margin: auto;
	
	}
#more {
	float: right;
	}	
p {
margin: auto;
}	