div [href*="google"] {
	color: \#666;
	}
	
div [href*="ya"] {
	color: #f70;
	}

a[target="_blank"]:after {
    content: '\2197';
    border-right: 1px solid;
    border-top: 1px solid;
	border-bottom: none;
    margin-left: 5px;
    font-size: 9px;
    text-decoration: none;
}

